@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: 'Manrope', sans-serif;
  max-width:1600px;
  margin: auto;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}


  

  
